- stylesheet "people", "approvals", "services"
- javascript "jquery.blockUI", "modal_form"
- title "Approvals for #{@person}"

:javascript
  $(function () { $(".datepicker").live('mouseover', function() { $(this).datepicker(); }); });
  $(function () { $("form").dirty_form(); });
  $(function () { $("a.menu_nav").dirty_stopper(); });
  $(function () { $("input").live('focus', function() { $(this).closest('form').dirty_form(); }); });
  $(function () { $("select").live('focus', function() { $(this).closest('form').dirty_form(); }); });
  $(function () { $("a.menu_nav").live('focus', function() { $(this).dirty_stopper(); }); });
  
= render "/people/client_menu" 

= render '/approvals/list', :approvals => @approvals, :person => @person, :search => @search_params, :service => nil

#modal_window