%ul#service_menu
  %li= link_to "Choose Awards", choose_awards_service_path(@service)
  %li= link_to "Choose Publications", choose_publications_service_path(@service)
  %li= link_to "Choose Approvals", choose_approvals_service_path(@service)
  %li= link_to "Choose Organizational Units", choose_organizational_units_service_path(@service)
