.service_header
  - if @service
    %h3
      #{@service.service_line.organizational_unit.to_s}
      %br
      #{@service.service_line} Service
      - if @service.person
        for #{@service.person}
  - else
    %h3
      New Service
    