- stylesheet "services"
- title "New Service - Choose Awards"

%p
  = @service.state

%h3 Work in Progress

%p
  Publications PMCIDs that resulted from support from this program.
  
  
%p
  PMCID______
%p
  Publish with mentor
  %br
  Year published
  %br
  NIHMS Number