- stylesheet "services"
- title "New Service - Choose Publications"

%p
  = @service.state

%p
  Publications PMCIDs that resulted from support from this program.
  
= render '/publications/list', :service => @service, :publications => @publications, :person => @service.person, :search_params => @search_params

- form_for @service do |f|
  = hidden_field_tag "service[state]", "choose_pending_approvals"
  = f.submit "Continue", :disable_with => 'Continuing...'

#modal_window