- stylesheet "services"
- javascript "jquery.blockUI", "modal_form"
- title "New Service - Choose Publications"

= render "menu"

%p
  Publications PMCIDs that resulted from support from this program.
  
= render '/publications/list', :service => @service, :publications => @publications, :search => @search, :person => @service.person, :search => @search_params

- form_for @service do |f|
  = hidden_field_tag "service[state]", "choose_approvals"
  .buttons
    = f.submit "Continue", :disable_with => 'Continuing...'

#modal_window