- title "New Service - Update Person"

%p
  = @service.state

- form_for @service.person, :url => { :controller => "services", :action => "update_person", :id => @service.id } do |f|

  = render '/people/person_fields', :f => f
  
  .buttons
    = f.submit "Save", :disable_with => 'Saving...'