- title "My Services"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.page_section
  .records_header
    Services In Process
  = render 'list', { :services => @pending_services }
  
.page_section
  .records_header
    Completed Services
  = render 'list', { :services => @completed_services }