- title "My Services"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

- header_text = params[:completed].blank? ? "Services In Process" : "Completed Services"

.page_section
  .records_header
    - if params[:completed]
      = link_to "Services In Process", :controller => "services", :action => "my_services"
      %span
        Completed Services
    - else
      %span
        Services In Process
      = link_to "Completed Services", :controller => "services", :action => "my_services", :completed => true
  = render 'list', { :services => @services }