- title "New Service"

%p 
  In order to initiate the service you must first choose the client or the service line.
  Please select one of these options below.
  
%p
  %ul
    %li= link_to "Choose Client", choose_person_services_path
    %li= link_to "Choose Service Line", choose_service_line_services_path

= render 'list', { :services => @pending_services, :header => "Services In Process" }
