
.header
  .pi
    Greenland, Philip
  .grant_number
    Grant Number: RR025741-03

.tech_transfer.title
  TECHNOLOGY TRANSFER REPORT
  %br
  2010-2011, Year 3: NUCATS Institute

.title
  DRUGS, BIOLOGICS, AND DEVICES - FOOD AND DRUG ADMINISTRATION
  
.span-24
  .span-12
    .title
      IND
    %p
      - if @inds.blank?
        n/a
      - else
        inds go here  
  .span-12.last
    .title
      BLA
    %p
      - if @blas.blank?
        n/a
      - else
        blas go here
.span-24
  .span-12
    .title
      IDE
    %p
      - if @ides.blank?
        n/a
      - else
        ides go here
  .span-12.last
    .title
      NDA
    %p
      - if @ndas.blank?
        n/a
      - else
        ndas go here
.span-24
  .span-12
    .title
      PATENTS
    %p
      - if @patents.blank?
        n/a
      - else
        patents go here
  .span-12.last
    .title
      OTHER
    %p
      - if @inds.blank?
        n/a
      - else
        other goes here