.bundle/*
log/*.log
tmp/**/*
doc/app
cc
reports/cucumber.html
reports/cucumber-xml/*
coverage/*
coverage.data
*.tmproj
to_haml.rb
doc/ldap_notes.txt
doc/metrics.txt
doc/questions.txt
doc/center_mgr_mtgs.txt
db/cc_development_db_20100920.out
doc/deployment_steps.txt
