.bundle/*
log/*.log
tmp/**/*
doc/app
doc/*.txt
doc/notes
cc
reports/cucumber.html
reports/cucumber-xml/*
reports/spec-xml/*
coverage/*
coverage.data
*.tmproj
to_haml.rb
doc/ldap_notes.txt
doc/metrics.txt
doc/questions.txt
doc/center_mgr_mtgs.txt
db/cc_development_db_20100920.out
doc/deployment_steps.txt
tmp/*.json
doc/webcamp.txt
CommonsIDs.xlsx
doc/ctsa/ctsa_schema.xsd
doc/ctsa/ctsa_report5.xml
doc/ctsa/ctsa_report2.xml
doc/ctsa/ctsa_report.xml
