.tooltip.scrollable

  .instructions
    %p
      Begin typing your area of expertise in the text field provided
      and a list of matching terms will appear. 
    %p
      Please choose the best match from the list. If something does not appear
      please re-enter new text.
    %p 
      A list of all possible areas of expertise is provided below.

  %h4
    Possible Areas of Expertise
  %p
    - Specialty.all.each do |s|
      = s.to_s
      %br