%p
  For more information about the ERA Commons Username contact the 
  %a{ :href => "http://www.research.northwestern.edu/osr/commons.html", :target => "_blank", :class => "external_link icon_link" } 
    Office for Sponsored Research
  or the
  %a{ :href => "https://commons.era.nih.gov/commons/", :target => "_blank", :class => "external_link icon_link" } 
    Electronic Research Administration
  sponsored by the National Institute of Health.