:javascript
  $(function () { $(".datepicker").live('mouseover', function() { $(this).datepicker(); }); });
  
- action = @person.new_record? ? :create : :update
- form_for @person, :url => {:controller => :people, :action => action} do |f|
  = f.error_messages

  = render '/people/person_fields', :f => f

  .buttons
    - lbl = faculty_member? ? "Save and Continue" : "Save"
    = submit_tag lbl