.tooltip
  %h4
    Invalid People
  %p
    People are ineligible for CTSA Reporting if they are marked as included in the Investigator or Training Roster 
    and missing an ERA Commons Username or an Area of Expertise.