.tooltip
  %h4
    Upload Investigators File
  %p
    To quickly add several investigators with whom you've worked you may upload a comma-separated values (.csv) file. 
  %p
    The format of this file is as follows:
    %br
    First Name, Last Name, Middle Name, Email, ERA Commons Username, Netid, Employeeid, Area of Expertise, Service Line(s)