- stylesheet "people"
- title "Clients"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });
  
= render 'search_form'

%p
  = link_to "Upload File to Import Investigators", upload_people_path, { :class => "upload_link icon_link" }
  %span{ :class => "help_icon" }
    &nbsp;
  = render "upload_import_file_tooltip"
%hr

= render 'search_results'
