- stylesheet "people"
- title "Create Person"

.page_section
  = render 'form'

.links
  = link_to 'List all investigators', people_path, :class => "list_link icon_link" if current_user.permit?(:Admin, :User)