#publications
  
  %h3 Publications for #{person}
  
  - if publications
  
    - if service
      = render 'publications/service_publications_table', :publications => publications, :service => service
    - else
      = render 'publications/publications_table', :publications => publications
