- stylesheet "services"
- title "Publication for #{@publication.person}"

:javascript
  $(function () { $(".datepicker").live('mouseover', function() { $(this).datepicker(); }); });

.publication_form
  = render 'form'