/* GLOBAL STYLES */

.clear {
  clear: both;
}

.links {
  margin: 1em 0;
}

.buttons {
  clear: both;
  padding-top: 0.5em;
  margin: 0.5em 0;
}

.required {
  color: red;
}

.instructions {
  margin: 1em 0;
}

.page_section {
  border: 1px solid #ccc;
  margin: 0.25em;
  padding: 0.75em 0.25em 0.5em 0.75em;
  background-color: whitesmoke;
  border-radius: .5em;
  -o-border-radius: .5em;
  -icab-border-radius: .5em;
  -khtml-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.blockOverlay {
  opacity: 0.5 !important;
}

a.no_link {
  padding: 0;
  margin: 0 -0.25em 0 -0.5em;
}

/* Flash Messages */

.message {
  padding: 0.5em;
  text-align: center;
  margin: .125em auto;
  border-radius: .5em;
  -o-border-radius: .5em;
  -icab-border-radius: .5em;
  -khtml-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

#link_warning,
#error,
#warning {
  border: 1px solid maroon;
  color: maroon;
  background-color: lavenderblush;
}

.fieldWithErrors {
  display: inline;
  color: red;
}

.fieldWithErrors input {
  border: 1px solid red;
}

#link_notice,
#notice,
#success {
  border: 1px solid green;
  color: darkgreen;
  background-color: #cfc;
}

/* Layout */

#menu {
  padding: 0.5em 0 0.25em 0;
  border-bottom: 1px solid #ccc;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  list-style: none;
  display: inline;
  padding: 0.5em 2em 0.5em 0.5em;
  border-right: 1px solid #ccc;
}

#menu ul li:hover {
  background: gainsboro;
}

/* banner and menus */

#banner {
  border-bottom: 1px solid #1c1079;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 29px;
  vertical-align: bottom;
  text-align: center;
  font-size: 1.25em;
  display: block; 
}

#banner a span {
  visibility: hidden; 
}

#banner img {
  float: left; 
}

#banner #menu2 {
  float: right;
  z-index: 4;
  margin-top: -21px;
  color: #aaaaaa;
  padding-right: 15px; 
}

#banner #logout_link a {
  color: #fff;
  text-decoration: none;
  padding-right: 0.5em;
}

#banner #logout_link a:hover {
  color: orange;
}

#banner .banner_right {
  width: 100%;
  height: 29px;
  z-index: 1; 
}

#banner #fl {
  float: left;
  z-index: 2;
  margin-top: -29px; 
}

#header {
  clear: both; 
}

#home {
  margin: 0px;
  padding: 0px 20px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  background-color: white;
}

#home a {
  font-size: 2.5em;
  line-height: 180%;
  color: #222266;
  text-decoration: none;
}

#home a:hover {
  color: darkorange; 
}

#menu {
  padding: 0px;
}


#title {
  margin: 0px;
  padding: 5px 20px 0 10px;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 1.875em;
  color: #222266;
  line-height: 180%;
  background-color: white; 
}

#niceline {
  padding-left: 5px;
  height: 8px;
  margin: 0px;
  color: white;
  font-size: 13px;
  background-color: #a3a3a3; 
}

#main {
  min-height: 45em;
  margin: 0;
  padding: 0 0.5em;
}

#footer {
  border-top: 2px solid #a3a3a3;
  text-align: right;
  font-size: 0.8em; 
}

#footer img {
  float: left; 
}

#footer img .banner {
  width: 100%; 
}

#footer .version {
  border-top: 2px solid #a3a3a3;
  float: left;
  clear: both;
  width: 100%; 
}

.branding {
  width: 1100px; 
  margin: 0 auto;
}
.branding #northwestern img {
  margin: 1em 5em; 
}
.branding #nmh img {
  margin: 3.5em 2em; 
}
.branding #feinberg img {
  margin: 1em 2em; 
}
.branding #nucats img {
  margin: 3em 2em; 
}


/* Error Styles */

#error_message {
  /*text-align: center;*/
}

#errorExplanation {
  text-align: left;
  border: 1px solid;
  border-color: #c00;
  margin-bottom: 1em;
  background-color: #fff;
}

#errorExplanation h2 {
  font-weight: bold;
  padding: .5em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  padding-left: 1.5em;
}

/* Tabular Data */
.records_header {
  text-align: right;
  margin: 0;
  padding: 0;
}

table.records {
  width: 100%;
  border-collapse: collapse;
}

table.records td {
  padding: 0.125em 0.25em;
}

table.records td.action {
  width: 5em;
}

table.records th {
  background-color: lightgray;
}

table.records tr {
  border: 1px solid lightgray;
}

table.records tr.even_record {
  background-color: whitesmoke;
}

table.records tr.odd_record {
  background-color: white;
}

table.records tr.current_record {
  background-color: aliceblue;
}

table.nested {
  width: 50%;
  margin-top: 1em;
}

/* Nested Forms */
.nested {
  padding: 2em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

/* pagination */

.pagination {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.5em;
  margin: 3px;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aad;
  text-decoration: none;
  color: #009;
}

.pagination a:hover, 
.pagination a:active {
  border: 1px solid #009;
  color: black;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #009;
  font-weight: bold;
  background-color: #009;
  color: white;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

.page_entries_info {
  float: right;
  padding-top: 0.25em;
}

.records_header {
  min-height: 2em;
}

/* Link styles */

.icon_link {
  padding: 2px 2px 2px 20px;
  text-decoration: none;
}

.icon_link:hover {
  color: orange !important;
  text-decoration: none;
}

.add_link, .add_link:hover {
  background: url(../images/add.png) 0 2px no-repeat !important;
}

.add_person_link, .add_person_link:hover {
  background: url(../images/user_add.png) 0 2px no-repeat !important;
}

.edit_link, .edit_link:hover {
  background: url(../images/edit.png) 0 2px no-repeat !important;
}

.export_link, .export_link:hover {
  background: url(../images/page_white_excel.png) 0 2px no-repeat !important;
}

.upload_link, .upload_link:hover {
  background: url(../images/page_white_upload.png) 0 2px no-repeat !important;
}

.search_link, .search_link:hover {
  background: url(../images/find.png) 0 2px no-repeat !important;
}

.show_link, .show_link:hover {
  background: url(../images/show.png) 0 2px no-repeat !important;
}

.list_link, .list_link:hover {
  background: url(../images/list.png) 0 2px no-repeat !important;
}

.delete_link, .delete_link:hover {
  background: url(../images/delete.png) 0 2px no-repeat !important;
}

.external_link, .external_link:hover {
  background: url(../images/page_world.png) 0 2px no-repeat !important;
}

.help_icon, .help_icon:hover {
  padding: 2px 2px 2px 20px;
  margin-left: 5px;
  background: url(../images/help.png) 0 2px no-repeat !important;
}

/* tooltip styling */
.tooltip {
  background-color: aliceblue;
  z-index: 999;
  display: none;
  padding: 10px;
  width: 310px;
  font-size: 11px;
  color: black;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 1em;
  -o-border-radius: 1em;
  -icab-border-radius: 1em;
  -khtml-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

/* a .label element inside tooltip */
.tooltip .label {
  color: purple;
  width: 35px;
}

.tooltip a {
  font-size: 11px;
  font-weight: bold;
}

.tooltip h4 {
  margin-bottom: 0.5em;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;
}

/* Blueprint css overrides */

.container {
  width: 1160px;
}

a:after {
  content: "" !important;
}

textarea {
  height: 10em !important;
}

.container p {
  margin-bottom: .25em;
}

input[type="checkbox"], 
input[type="radio"], 
input.checkbox, 
input.radio {
  top: 0;
}
