
#awards {
  margin: 1em 0;
}

#awards h3 {
  padding: 0.5em 0;
}

.notice {
  color: maroon;
  font-size: 1.125em;
  margin: 0.5em 0;
}

.instructions {
  margin: 1em 0;
}

.award_form {
  height: 80em;
  padding-bottom: 1em;
}

#award_details {
  margin-top: 2em;
}

#award_details table {
  margin-top: 1em;
}
