

.instructions {
  margin: 1em 0;
}

#investigator_upload {
  padding: 1em;
  border: 1px solid #ccc;
}

#investigator_upload #search {
  float: right;
}

#people_search_form {
  padding: 0.5em;
}

form.faculty_search {
  margin: 2em 1em;
}

.span-5 select {
  width: 18em;
}

.span-6 select,
.span-7 select,
.span-8 select {
  width: 20em;
}

select#search_service_rendered,
select#search_disadvantaged_background {
  width: 5em;
}

.trainee_section {
  margin-top: 1em;
  border-top: 1px solid #EEE;
}

.trainee_section h4 {
  margin: 0.5em 0;
}

h4.section_header {
  margin: 0.5em 0;
}