

/* Flash Messages */

.message {
  padding: 0.5em;
  text-align: center;
  margin: .125em auto 2em auto;
}

h4 {
  margin-bottom: 0;
}

.service_menu .span-24 {
  margin-bottom: 0.5em;
}

.status_bar {
  margin-top: 10px;
  border: 3px solid gray;
}

.service_menu .index {
  display: inline-block;
  width: 1.25em;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  margin-left: 60px;
  margin-top: -15px;
  background-color: lightblue;
  border: 1px solid gray;
  border-radius: 2em;
  -o-border-radius: 2em;
  -icab-border-radius: 2em;
  -khtml-border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.service_menu .active {
  background-color: darkblue;
}

.service_menu .task {
  display: inline-block;
}

.service_menu a {
  text-decoration: none;
}

.service_menu a:hover {
  color: orange;
}

.service_menu a.index:hover {
  background-color: darkslateblue;
}

.service_task div {
  border-bottom: 1px solid white;
  text-align: center;
}

.service_task {
  font-size: 1.125em;
  color: darkblue;
}

.service_task a {
  text-decoration: none;
}

.service_header {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.service_header h3 {
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

.services_links {
  font-size: 1.25em;
}

.services_links a,
.services_links span {
  margin: 0 0.25em;
  padding: 0 0.25em;
  text-decoration: none;
}

.services_links a:hover {
  color: orange;
}

.services_links span.divider {
  border: 1px solid #ccc;
  padding: 0;
}

.buttons {
  text-align: right;
  margin: 0 2em 1em 0;;
}

.awards select {
  width: 25em;
}

.service_question {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.choices {
  font-size: 1.25em;
}

#modal_window {
  display: none;
  height: 35em;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.125em;
}

#modal_window textarea,
#modal_window select,
#modal_window input {
  font-size: 1.125em !important;
}

#modal_window .buttons {
  width: 765px;
}

.blockMsg {
  width: 800px !important;
  margin-left: -400px !important;
}

#modal_edit_form {
  margin-top: 2em;
}

.header_option {
  top: 0;
  right: 0;
  background-color: white;

  margin-top: .25em;
  margin-right: 2em;
  padding: 0.25em;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: .5em;
  -o-border-radius: .5em;
  -icab-border-radius: .5em;
  -khtml-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.header_option:hover {
  background-color: aliceblue;
}

#modal_window p {
  margin: 0 0 0.5em 0;
}

#award_form #modal_edit_form {
  margin-top: 0.75em;
}

#award_form select,
#award_form input[type="text"] {
  width: 22em;
}

#award_form option {
  width: 45em;
}

.edit_modal_form_add_link {
  float: right;
}

#awards h3 {
  margin-bottom: 0.25em;
}

.datepicker {
  width: 7.5em !important;
}

.trainee_section {
  margin: 1em 0;
}

.trainee_section b {
  text-decoration: underline;
}

.publication_header,
.award_header {
  font-size: 1.25em;
}

.award_section_last,
.award_section {
  border: 1px solid #ccc;
  margin: 0.25em 0;
  padding: 0.5em 0.25em 0 0.75em;
  background-color: whitesmoke;
  border-radius: .5em;
  -o-border-radius: .5em;
  -icab-border-radius: .5em;
  -khtml-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.award_section {
  width: 340px;
}

.award_section_last {
  width: 390px;
}

.award_section p b {
  font-size: 1.25em;
}

.approvals select {
  width: 10em;
}

.approvals input {
  width: 14em;
}

.buttons {
  margin-top: 0.75em;
}

ul.ou_service_lines li {
  list-style-type: none;
}

textarea#award_grant_title {
  width: 25em;
  height: 3em !important;
}