
.service_header {
  border-bottom: 1px solid #eee;
}

.service_header h3 {
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

.awards select {
  width: 25em;
}

#modal_window {
  display: none;
  height: 55em;
  overflow: auto;
}

.blockMsg {
  width: 800px !important;
  margin-left: -400px !important;
}

#modal_edit_form {
  margin-top: 2em;
}

.header_option {
  top: 0;
  right: 0;

  margin-top: .25em;
  margin-right: 2em;
  padding: 0.25em;
  position: absolute;
  border: 1px solid #ccc;
}

.header_option:hover {
  background-color: aliceblue;
}

#modal_window p {
  margin: 0 0 0.5em 0;
}

#award_form select,
#award_form input[type="text"] {
  width: 30em;
}

.edit_modal_form_add_link {
  float: right;
}

#awards h3 {
  margin-bottom: 0.25em;
}

.service_menu .container {
  margin-bottom: 0.5em;
}

.datepicker {
  width: 7.5em !important;
}

.trainee_section {
  margin: 1em 0;
}

.trainee_section b {
  text-decoration: underline;
}

.award_section {
  border: 1px solid #ddd;
  padding: 0.25em;
  margin: 0.25em 0;
  width: 345px;
}

.award_section p b {
  font-size: 1.25em;
}

.buttons {
  margin-top: 0.75em;
}


.buttons {
  margin-top: 0.75em;
}

ul.ou_service_lines {
  display: none;
}

ul.ou_service_lines li {
  list-style-type: none;
}
