
.awards select {
  width: 25em;
}

#modal_window {
  display: none;
  height: 55em;
  overflow: auto;
}

.blockMsg {
  width: 800px !important;
  margin-left: -400px !important;
}

#modal_edit_form {
  margin-top: 2em;
}

#modal_window .header_option {
  top: 0;
  right: 0;
  padding-top: .25em;
  padding-right: 2em;
  position: absolute;
}

#modal_window p {
  margin: 0 0 0.5em 0;
}

#award_form select,
#award_form input[type="text"] {
  width: 30em;
}

#awards .edit_modal_form_add_link {
  float: right;
}

#awards h3 {
  margin-bottom: 0.25em;
}

ul#service_menu {
  padding: 0;
}

ul#service_menu li {
  display: inline-block;
  border-right: 5px solid #A3A3A3;
  width: 15em;
  padding-left: 1em;
}

.datepicker {
  width: 7.5em !important;
}

.trainee_section {
  margin: 1em 0;
}

.trainee_section b {
  text-decoration: underline;
}

.award_section {
  border: 1px solid #ddd;
  padding: 0.25em;
  margin: 0.25em 0;
  width: 345px;
}

.award_section p b {
  font-size: 1.25em;
}

.buttons {
  margin-top: 0.75em;
}


.buttons {
  margin-top: 0.75em;
}

ul.ou_service_lines {
  display: none;
}

ul.ou_service_lines li {
  list-style-type: none;
}
