.decision {
  font-size: 1.5em;
}

.welcome .page_section {
  min-height: 14em;
}

.welcome .front_page_section {
  min-height: 2em;
  margin-top: 2em;
}

.front_page_decision {
  font-size: 1.5em;
  padding-left: 0.35em;
  margin-top: 2em;
}

.front_page_section {
  border: 1px solid #ccc;
  margin: 0.25em;
  padding: 0.75em 0.25em 0.5em 0.75em;
  background-color: whitesmoke;
  border-radius: .5em;
  -o-border-radius: .5em;
  -icab-border-radius: .5em;
  -khtml-border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.create_service_line,
.add_investigator {
  text-align: center;
}

.create_service_line a,
.add_investigator a {
  text-decoration: none;
}

.create_service_line a:hover,
.add_investigator a:hover {
  color: orange;
}

#investigator_upload {
  margin: 2em 0;
}


