.tooltip
  %h4
    Add New Investigator
  %p
    You should create a New Person Record in the database if the investigator is not a University Faculty Member or does not have a Net ID. 
  %p
    First, however, you should determine if the person already exists in our database by performing a 
    = link_to "search for the investigator.", search_people_path