.tooltip
  %h4
    Edit Profile
  %p
    This is to change the profile known to ClearCATS.
    %br
    Most of this data is initially pulled over from the 
    %a{ :href => "https://fsmweb.northwestern.edu/facultylogin/" } 
      Feinberg School of Medicine Faculty Database
    and from the 
    %a{ :href => "http://directory.northwestern.edu/" } 
      Northwestern Directory.
  %p
    This data will be used on reports sent to the CTSA as well as internal NUCATS reports.