.tooltip
  %h4
    Initiate Service
  %p
    To record when a faculty member or investigator interacts with NUCATS we create a Service record. 
    This is a Service Line offered by a Center or Program at NUCATS provided to the faculty member or investigator.
