- stylesheet "welcome"
- title "Welcome to clearcats!"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.welcome

  - if current_user
    - if current_user.permit?(:Admin, :User)
      .front_page_section
        %h3.add_investigator 
          = link_to "Add Investigator", {:controller => "welcome", :action => "add_investigator"}
    - if current_user.permit?(:Admin)
      .front_page_section
        %h3.create_service_line 
          = link_to "Create Service Line", new_service_line_path
    - if current_user.permit?(:Admin)
      .front_page_section
        %h3.create_service_line 
          = link_to "Manage Investigators", people_path
