- title "Welcome"

%p
  %h1 Welcome to ClearCATS!

  %h3 User Actions
  %ul
    %li= link_to "Initiate Service", :controller => "services", :action => "new"

  = render "/admin/admin_list" if current_user and current_user.permit?(:Admin)