- stylesheet "welcome"
- title "Welcome to clearcats!"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.welcome

  %p.hello
    ClearCATS is a reporting tool for NUCATS employees. 
  %p.hello
    It will help you keep track of who you worked with and assist you in submitting reports. 
  %p.hello
    ClearCATS allows you to demonstrate that, with NUCATS' support, investigators have been able to 
    obtain grants, receive awards, publish, and conduct studies.

  - if current_user
    - if current_user.permit?(:Admin, :User)
      .front_page_section
        %h3.add_investigator 
          = link_to "Add Investigator", {:controller => "welcome", :action => "add_investigator"}
    - if current_user.permit?(:Admin)
      .front_page_section
        %h3.create_service_line 
          = link_to "Create Service Line", new_service_line_path
    - if current_user.permit?(:Admin)
      .front_page_section
        %h3.create_service_line 
          = link_to "Manage Investigators", people_path
