- title "Welcome"

%p
  %h1 Welcome to ClearCATS!

  - if current_user
    - if current_user.permit?(:Admin, :User)
      %h3 User Actions
      %ul
        %li= link_to "Initiate Service", :controller => "services", :action => "new"

    = render "/admin/admin_list" if current_user.permit?(:Admin)
  
  - if @person
    = link_to 'Edit Profile', edit_person_path(@person), :class => "edit_link icon_link"
      