- title "Edit Service Line"
= render :partial => 'form'
.links
  = link_to 'Show', @service_line, :class => "show_link icon_link"
  |
  = link_to 'List', service_lines_path, :class => "list_link icon_link"
