- title "Service Line"
%p
  %b Name:
  = h @service_line.name
%p
  %b Organizational Unit:
  = @service_line.organizational_unit.to_s
  
- if !@service_line.activity_types.empty?
  %p
    %b Activity Types for Service Line
    %ul
      - @service_line.activity_types.each do |activity_type|
        %li
          = h activity_type.to_s
.links
  = link_to 'Edit', edit_service_line_path(@service_line), :class => "edit_link icon_link"
