.tooltip
  %h4
    Invalid Awards
  %p
    Awards are ineligible for CTSA Reporting if they are missing either 
    %ul
      %li the Organization or 
      %li the Activity Code for 'PHS Organizations' or 
      %li the Grant Number for 'Non-PHS Organizations'