- stylesheet "services"
- title "Award for #{@award.person}"

:javascript
  $(function () { $(".datepicker").live('mouseover', function() { $(this).datepicker(); }); });

.award_form
  = render 'form'
