- stylesheet "people", "awards", "services"
- javascript "jquery.blockUI", "modal_form"
- title_text = params[:view_all].blank? ? "Awards since 2008 for #{@person}" : "All Awards for #{@person}"
- title title_text

:javascript
  $(function () { $(".datepicker").live('mouseover', function() { $(this).datepicker(); }); });

= render "/people/client_menu" 

.page_section
  = render '/awards/list', :awards => @awards, :person => @person, :search => @search_params, :service => nil

#modal_window