!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title= "ClearCATS :: Authentication Failure"
    %link{ :href => "/stylesheets/blueprint/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/ddsmoothmenu.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/ddsmoothmenu-v.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/jquery-ui-1.8.1.custom.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    .container
      #home
        %a{ :href => "/", :class => "no_link" }
          clearcats
      #menu
        
      #header
        #banner
          %img{ :src => "/images/banner_right.jpg", :class => "banner_right" }
          #fl
            %img{ :src => "/images/banner_edge.jpg", :class => "banner_edge" }
            #banner_menu.ddsmoothmenu
              %ul
                %li
                  %a{ :href => "/" }
                    Home
            %img{ :src => "/images/banner_edge.jpg", :class => "banner_edge" }
          #menu2
            %a{ :href => "/logout", :style => "color: white; text-decoration: none;" }
              logout
            = @user.username
        #title
          %span 
            Authentication Denied
      .clear

      #main
        
        %h4
          %span
            You
          %em
            = @user.username 
          %span
            have requested a resource to which you do not have access.

      #footer
        .branding
          #northwestern
            %a{ :href => "http://www.northwestern.edu" }
              %img{ :alt => "Northwestern University", :height => "85", :width => "150", :src => "/images/nu_logo_purple.jpg" }
          #nmh
            %a{ :href => "http://www.nmh.org" }
              %img{ :alt => "Northwestern Memorial Hospital", :height => "35", :width => "230", :src => "/images/nm_hospital_logo.jpg" }
          #feinberg
            %a{ :href => "http://www.feinberg.northwestern.edu" }
              %img{ :alt => "Feinberg School of Medicine, Northwestern University", :height => "85", :width => "180", :src => "/images/feinberg_logo_large.jpg" }
          #nucats
            %a{ :href => "http://www.nucats.northwestern.edu" }
              %img{ :alt => "The Northwestern University Clinical and Translational Sciences Institute", :height => "50", :width => "250", :src => "/images/nucats_logo_med.jpg" }
        .version